:root {
    --title-color: #212121;
    --subtitle-color: #757575;
    --blue-active-color: #2196F3;
    --white-title-color: #FFFFFF;
    --white-btm-color: #FFFFFF;
    --fill-icons-color: #AFB1B8;
    --t-d: 250ms;
    --t-t-f: cubic-bezier(0.4, 0, 0.2, 1);
}