.custom {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

.custom-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.custom-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.custom-item {
    width: 170px;
    height: 92px;
}

.custom-link {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border-color;
    transition-duration: var(--t-d);
    transition-timing-function: var(--t-t-f);
    &:hover,
    &:focus {
            border-color: #2196F3;
        }
}

.custom-icon {
    fill: var(--fill-icons-color);
    transition-property: fill;
    transition-duration: var(--t-d);
    transition-timing-function: var(--t-t-f);
    .custom-link:hover &,
    .custom-link:focus & {
            fill: var(--blue-active-color);
        }
}